<div class="example-container">
  <div class="card">
    <div class="card__image-container">
      <img
        src="boot-example.png"
        class="card__image" />

      <div class="card__tags-container">
        <span class="card__tag">39% OFF</span>
      </div>
    </div>

    <div class="card__content">
      <span class="card__title">Nike Air MX Super 2500 - Red</span>

      <div class="card__infos">
        <div class="card__price-container">
          <span class="card__price">$449</span>
          <span class="card__old-price">$699</span>
        </div>

        <app-start-rating />
      </div>

      <button class="card__button">Add to cart</button>
    </div>
  </div>
</div>
