@use "tokens" as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 70vw;
  height: 70vh;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px rgba($color-magenta-400, 0.5);
}

.content {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr auto auto;
}

.divider {
  height: 100%;
  width: 0.5px;
  background-color: $color-silver-600;
  margin: 0 1rem;
}
