.ae-c-card-content {
  width: 100%;
  background: #202020;
  border-end-end-radius: 0.75rem;
  border-end-start-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 12px;
}
