@use "tokens" as *;

.tag {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  font-size: 12px;
  border: 0.5px solid;
  user-select: none;
}

.enabled {
  color: #65a30d;
  background-color: #65a30d11;
  border-color: #4d7c0f;
}

.disabled {
  color: #f43f5e;
  background-color: #f43f5e11;
  border-color: #be123c;
}
