<div *ngIf="loadingHandler.isLoading$ | async; else content">
  <app-card
    title="Available Balances"
    icon="HandCoins"
    [isTotalAmountLoading]="true">
    <div class="container">
      <app-card-row-loading />
      <app-card-row-loading />
      <app-card-row-loading />
      <app-card-row-loading />
      <app-card-row-loading />
    </div>

    <div class="highlight">
      <app-card-row-loading [isBordered]="false" />
      <app-card-row-loading [isBordered]="false" />
    </div>
  </app-card>
</div>

<ng-template #content>
  <app-card
    title="Available Balances"
    icon="HandCoins"
    [totalAmount]="totalBalance">
    <div class="container">
      <app-card-row
        *ngFor="let row of infos; let isLast = last"
        [label]="row.label"
        [value]="row.value"
        [isBordered]="!isLast" />
    </div>

    <div class="highlight">
      <app-card-row
        *ngFor="let row of highlightInfos"
        [label]="row.label"
        [value]="row.value"
        [isValueHighlighted]="true"
        [isBordered]="false" />
    </div>
  </app-card>
</ng-template>
