<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isLoading">
      <tr *ngFor="let _ of loadingQuantity">
        <td>
          <app-skeleton
            [height]="20"
            [width]="200" />
        </td>
        <td>
          <app-skeleton
            [height]="20"
            [width]="70" />
        </td>
        <td>
          <app-skeleton
            [height]="20"
            [width]="150" />
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <tr
        *ngFor="let user of users"
        (click)="openDialog(user)">
        <td>{{ user.name }}</td>
        <td>
          <app-status-tag [enabled]="user.enabled"></app-status-tag>
        </td>
        <td>{{ user.createdDate | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
