$color-magenta-400: #986dff;
$color-magenta-600: #986dff99;
$color-magenta-800: #986dff4d;
$color-lime-400: #8eff6d;
$color-lime-600: #65a30d;
$color-sunshine-400: #ff9a6d;
$color-ocean-400: #6d98ff;
$color-rose-500: #f43f5e;
$color-silver-300: #9ca3af;
$color-silver-400: #9ca3afb3;
$color-silver-500: #9ca3af66;
$color-silver-600: #9ca3af33;
$color-silver-700: #151515;
$color-silver-750: #121212;
$color-silver-800: #111;
