@use 'tokens' as *;

.container {
  padding: 20px 10px 20px 40px;
  border-right: 2px solid $color-silver-600;
  background-color: $color-silver-700;
  height: 100%;
  width: 200px;
}

.title {
  font-size: 24px; 
  font-weight: bold;
  user-select: none;
  margin-bottom: 30px;
  color: $color-silver-300;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item_list {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
  width: fit-content;

  &:hover {
    color: $color-magenta-400;
    transition: color 0.3s;
  }
}

.item_list.active {
  color: $color-magenta-400;
  font-weight: bold;
}

.sub_item {
  margin-top: 8px;
}
