<div class="container">
  <app-input
    [formGroup]="formGroup"
    label="Address"
    id="address"
    placeHolder="Street name" />

  <app-input
    [formGroup]="formGroup"
    label="Additional Address"
    id="additionalAddress"
    placeHolder="Additional Address"
    [optional]="true" />

  <app-input
    [formGroup]="formGroup"
    label="City"
    id="city"
    placeHolder="City Name" />

  <app-input
    [formGroup]="formGroup"
    label="State"
    id="state"
    placeHolder="State Name" />

  <app-input
    [formGroup]="formGroup"
    label="Zip Code"
    id="zipCode"
    placeHolder="Zip Code" />

  <app-input
    [formGroup]="formGroup"
    label="Country"
    id="country"
    placeHolder="Country Name" />
</div>
