<div class="container">
  <form
    class="form"
    (ngSubmit)="onSubmit()">
    <div class="section">
      <label for="email"> Email </label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="type your email here"
        [(ngModel)]="email"
        (ngModelChange)="emailChanged($event)" />
      <span
        class="validation-warning"
        *ngIf="!!emailValidationError"
        >{{ emailValidationError }}</span
      >
    </div>

    <div class="section">
      <label for="password"> Password </label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="your password"
        [(ngModel)]="password"
        (ngModelChange)="passwordChanged($event)" />
      <span
        class="validation-warning"
        *ngIf="!!passwordValidationError"
        >{{ passwordValidationError }}</span
      >
      <span class="forget-password">Forget my password</span>
    </div>
    <button
      class="access-button"
      type="submit">
      Access
    </button>
  </form>
</div>
