<div *ngIf="loadingHandler.isLoading$ | async; else content">
  <app-card
    icon="CreditCard"
    title="Credit Card">
    <div class="container">
      <div class="header">
        <div class="card-infos">
          <div class="card-info">
            <app-skeleton
              [height]="18"
              [width]="100" />
          </div>
          <div class="card-info">
            <app-skeleton
              [height]="18"
              [width]="140" />
          </div>
        </div>
      </div>

      <app-card-row-loading />
      <app-card-row-loading [isBordered]="false" />
      <app-card-row-loading />
      <app-card-row-loading [isBordered]="false" />
    </div>
  </app-card>
</div>

<ng-template #content>
  <app-card
    icon="CreditCard"
    title="Credit Card">
    <div class="container">
      <div class="header">
        <div class="card-infos">
          <div class="card-info">
            <lucide-icon
              name="User"
              class="card-info--icon"
              size="20" />
            <div class="card-info--value">{{ clientName }}</div>
          </div>
          <div class="card-info">
            <lucide-icon
              name="CreditCard"
              class="card-info--icon"
              size="20" />
            <div class="card-info--value">{{ cardNumber | cardNumberFormat }}</div>
          </div>
        </div>
      </div>

      <app-card-row
        *ngFor="let row of infos; let i = index"
        [label]="row.label"
        [value]="row.value"
        [isBordered]="i % 2 === 0" />
    </div>
  </app-card>
</ng-template>
