<div class="container">
  <div class="container__file-explorer">
    <ng-container *ngIf="filesState$ | async as filesState">
      <div *ngIf="filesState.isLoading">
        <div class="loading-container">
          <app-skeleton
            *ngFor="let _ of loadingQuantity"
            [height]="18"
            [width]="240" />
        </div>
      </div>

      <div *ngIf="filesState.error">
        <span> Public limit reached. (This is a api call without token) </span>
      </div>

      <app-file-explorer
        *ngIf="filesState.success"
        [files]="filesState.data"
        [selectedFile]="selectedFile"
        (selectContentEmitt)="handleSelectContent($event)">
      </app-file-explorer>
    </ng-container>
  </div>

  <div class="container__code-preview">
    <app-file-code-preview [content]="selectedFile?.content"></app-file-code-preview>
  </div>
</div>
