<div class="header">
  <div class="header--content">
    <span class="header--title">
      {{ user.name }}
    </span>
    <span class="header--id">
      {{ user.id }}
    </span>
  </div>

  <button
    mat-icon-button
    mat-dialog-close
    class="header--close">
    <lucide-icon
      name="x"
      size="24">
    </lucide-icon>
  </button>
</div>

<div
  mat-dialog-content
  class="content">
  <div class="info">
    <span class="info--label">Status</span>
    <app-status-tag [enabled]="user.enabled"></app-status-tag>
  </div>
  <div class="info">
    <span class="info--label">Email</span>
    <span class="info--value">{{ user.email }}</span>
  </div>
  <div class="info">
    <span class="info--label">Phone</span>
    <span class="info--value">{{ user.phone }}</span>
  </div>
  <div class="info">
    <span class="info--label">Role</span>
    <span class="info--value">{{ user.role }}</span>
  </div>
  <div class="info">
    <span class="info--label">Address</span>
    <span class="info--value minimized">{{ user.address | addressFormat }}</span>
  </div>
  <div class="info">
    <span class="info--label">Address</span>
    <span class="info--value">{{ user.createdDate | date: "dd/MM/yyyy" }}</span>
  </div>
</div>
