@use "tokens" as *;

::ng-deep .mat-mdc-dialog-surface {
  background: #171717;
  border: 1px solid $color-magenta-600;
  border-radius: 10px;
  color: $color-silver-300;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li {
    color: $color-silver-300;
  }
}

.header {
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;

  &--content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &--id {
    color: $color-silver-500;
    font-size: 14px;
  }

  &--title {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    color: $color-silver-300;
    font-size: 20px;
    height: fit-content;
    font-weight: bold;
  }

  &--close {
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: $color-silver-300;
    outline: none;

    &:hover {
      color: $color-magenta-600;
      transition: all 0.3s;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $color-silver-300;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &--label {
    font-weight: bold;
    color: $color-silver-500;
  }

  &--value {
    font-weight: normal;
  }

  .minimized {
    font-size: 14px;
  }
}
